<div id="data-wrapper">
	<div class="chartTitle">
		<h2>The high seas</h2>
	</div>
	<div class="row chartNotes" id="standfirst">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae mattis magna, id tempor orci. Pellentesque congue id arcu a volutpat. Nunc scelerisque viverra orci sit amet lobortis. Sed imperdiet dictum lacus.
	</div>

	<div class="row">
		<div class="chartNotes" id="key">
			<div class="colour_key">
				<div class="keyDiv">
					<div class="circle_busted"></div>
					<span class="keyText">Location of drugs bust</span>
				</div>
			</div>
		</div>
	</div>	

	<div id="map_container" class="interactive-wrapper">

		<div id="app"></div>

		<div id="tooltip">
			<div id="info"><h2>Drug seizures</h2><small>Click on a circle for more info</small></div>
		</div>

	</div>

</div>