<div class="interactive-wrapper">
	<div class="blah">
	<div class="chartTitle">
		<h2>Drug smuggling via the Pacific</h2>
	</div>
	<div class="row" id="standfirst">
		This map shows an approximation of drug smuggling routes from the Americas by boat. In all cases the drugs were believed to be destined for Australia. The locations shown are for illustrative purposes only, as in most cases the precise locations are unknown
	</div>

	<div class="row">
		<div class="chartNotes" id="key">
			<div class="colour_key">
				<div class="keyDiv">
					<div class="circle_start"></div>
					<span class="keyText">Approximate start</span>
				</div>
				<div class="keyDiv">
					<div class="circle_busted"></div>
					<span class="keyText">Approximate location of drug bust</span>
				</div>
			</div>
		</div>
	</div>	

	<div id="map_container">

		<div id="app"></div>

		<div id="tooltip">
			<div id="info"><h3>Drug seizures</h3><small>Click on a circle for more info</small></div>
		</div>

	</div>
	</div>
</div>