<div class="interactive-wrapper">
	<div class="blah">
	<div class="chartTitle">
		<h2>The drug route you've never heard of</h2>
	</div>
	<div class="row" id="standfirst">
		Meth and cocaine are packed into boats in Latin America and the US and sailed to Australia and New Zealand to feed the countries' lucrative drug habits, leaving a trail of addiction and violence in the Pacific nations they pass through. The routes shown are an approximation based on the locations given in media coverage and police reports
	</div>

	<div class="row">
		<div class="chartNotes" id="key">
			<div class="colour_key">
				<div class="keyDiv">
					<div class="circle_start"></div>
					<span class="keyText">Approximate start</span>
				</div>
				<div class="keyDiv">
					<div class="circle_busted"></div>
					<span class="keyText">Approximate location of drug bust</span>
				</div>
			</div>
		</div>
	</div>	

	<div id="map_container">

		<div id="app"></div>

		<div id="tooltip">
			<div id="info"><h3>Drug seizures</h3><small>Click on a circle for more info</small></div>
		</div>

	</div>
	</div>
</div>